@{
    Layout = "_Layout";
}

@using Factory.Models

<h1>Sillstringz Factory</h1>

<hr>

<h3>Engineers</h3>
@if (Model["engineers"].Length == 0)
{
    <h4>No engineers have been added</h4>
}
<ul>
    @foreach (Engineer engineer in Model["engineers"])
    {
        <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId })</li>
    }
</ul>

<h3>Machines</h3>
@if (Model["machines"].Length == 0)
{
    <h4>No machines have been added</h4>
}
<ul>
    @foreach (Machine machine in Model["machines"])
    {
        <li>@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = machine.MachineId })</li>
    }
</ul>

<hr>

<div class="Links">
    <h2>@Html.ActionLink("See Engineer Index", "Index", "Engineers")</h2>
    <h2>@Html.ActionLink("See Machine Index", "Index", "Machines")</h2>
</div>