@{
    Layout = "_Layout";
}

@using Factory.Models

<h1>Sillystringz Factory</h1>

<hr>

<div id="HomeDisplay">
    <h3>Engineers</h3>
    @if (Model["engineers"].Length == 0)
    {
        <p>No engineers have been added</p>
    }
    <ul>
        @foreach (Engineer engineer in Model["engineers"])
        {
            <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId })</li>
        }
    </ul>

    <h3>Machines</h3>
    @if (Model["machines"].Length == 0)
    {
        <p>No machines have been added</p>
    }
    <ul>
        @foreach (Machine machine in Model["machines"])
        {
            <li>@Html.ActionLink(@machine.Name, "Details", "Machines", new { id = machine.MachineId })</li>
        }
    </ul>
</div>
<br>
<hr>
<br>
<div class="links">
    <h2>@Html.ActionLink("See Engineer Index", "Index", "Engineers")</h2>
    <h2>@Html.ActionLink("See Machine Index", "Index", "Machines")</h2>
</div>